*{
  margin: 0px;
  padding: 0px;
}
.main{
  background-color:skyblue;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  align-items: center;
  gap: 30px;
}
.search{
  width: 500px;
  margin-top: -200px;
 height: 150px;
  gap: 5px;
}
.search h1{
  margin-bottom: 10px;
  
  font-weight: bold;
}
.search input{
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
}

.search button{
  width: 20%;
  height: 39px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 40px;
  margin-top: 15px;
  font-size: 22px;
}
.search button:hover{
  background-color: white;
  color: black;
  transition: 0.7s;
}
.result{
  background-color: white;
  width: 300px;
  margin-top: -200px;
  border-radius: 10px;

}
.result h1,h3,h4,img{
  padding-left: 10px;
}
.result img{
  width: 50px;
  height: 50px;
}
.loader{
  visibility: hidden;
  position: absolute;
  
}

.nloader{
  position: absolute;
}
@media only screen and (max-width:865px){
  
  .main{
    padding: 20px;
    
  }
  .result{
    margin-top: -720px;
    margin-right: auto;
  }
  .search h1{
   font-size: 40px;
  }
}
